CI_ENVIRONMENT = production

app.baseURL = 'https://YOUR-RAILWAY-APP.up.railway.app/'
app.forceGlobalSecureRequests = false

database.default.hostname = YOUR_RAILWAY_MYSQL_HOST
database.default.database = YOUR_RAILWAY_DB_NAME
database.default.username = YOUR_RAILWAY_DB_USER
database.default.password = YOUR_RAILWAY_DB_PASSWORD
database.default.DBDriver = MySQLi
database.default.port = 3306

session.savePath = 'writable/session'

